body {
    background-image: linear-gradient(gray,lightgray,gray)
}
h1 {
      color: limegreen;
      text-align: center;
      font-style: italic;
      font-weight: 10000;
      text-decoration: underline;
      font-size: 15;
      font: Arial;

}
h2 {
      color: darkgreen;
      text-shadow: center;
      font-style: strong;
      font-weight: 400;
}

  a:hover{
  background-color:orange
  }
*.center-align{
  text-align: center;
}
a:visited{
  color: darkgreen;
}
a:link {
  color: limegreen;
}

span {
  background-color: darkgreen
}

}
a [<p>] {
  color: black
}
.hiveaco {
    border: 5px solid darkgreen;
    border-radius: 50%;
    padding: 10px;
    width: 300px;
    height: 250px;
}
body {
  font-family: Lato;
  margin: 10px;
  font-size: 1.4em;
}
hr {
    border-color: darkgreen
}

h2 + li
